@mixin container-mb{
    max-width: 567px;
    display: flex;
    justify-content: center;
    margin: auto;
}

@mixin flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadowbottom{
    -webkit-box-shadow: 0px 4px 17px -11px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 4px 17px -11px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 17px -11px rgba(0, 0, 0, 0.3);
}
@mixin darkshadow{
    -webkit-box-shadow: 0px 7px 22px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 7px 22px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 7px 22px -6px rgba(0, 0, 0, 0.7);
}

@mixin gradient{
    background: rgb(228,113,218);
    background: linear-gradient(-185deg, rgba(228,113,218,1) 36%, rgba(160,90,220,1) 100%);
}

@mixin container-space{
    padding: 0px 30px;
    max-width: 570px;
    margin: auto;
}

@mixin smoothtrans{
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

@mixin headerlink{
    position: absolute;
    left: 30px;
}

@mixin sliderimg{
    width: 100%;
    height: 380px;
}
@mixin underline{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: 60px;
        height: 3px;
        top: auto;
        bottom: -10px;
        background: $color-underline;
    }
}
@mixin buttonformat{
    padding: 20px 30px;
    text-decoration: none;
    background: #ccc;
    border-radius: 50px;
    font-weight: $weight500;
    color: $color-white;
    margin-bottom: $spacebottom;
    @include shadowbottom;
    @include gradient;
}
@mixin fa-heart{
    font-size: $font28;
    color: $color-white;
    -webkit-text-stroke: 2px $color-black;
}
@mixin heartbutton{
    background: linear-gradient(45deg, $color-secondary, $color-primary);
    -webkit-text-stroke: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.7s ease-in-out;
}
@mixin spinner{
    -webkit-animation: cssAnimation 2s forwards;
    animation: cssAnimation 2s forwards;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-white;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    opacity: 1;
    animation-duration: 0s;
    animation-delay: 2s;
}
@mixin mobile-320 {
    @media (max-width: 320px) {
        @content;
    }
}
@mixin mobile-321 {
    @media (max-width: 320px) {
        @content;
    }
}


@mixin mobile-landscape {
    @media (min-width: 668px) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width: 700px) {
        @content;
    }
}

@mixin desktop-only {
    @media (min-width: 993px) {
      @content;
    }
}

@mixin desktop-big {
    @media (min-width: 1600px) {
      @content;
    }
}