//Primary and theme colour
$color-primary: #9356DC;
$color-secondary: #FF79DA; 
$color-brand-01: #99E2D0; 
$color-grey: #EAEAEA;
$color-lightgrey: #F6F6F6;
$color-white: #ffffff;
$color-icon: #7E7E7E;
$color-black: #000000;
$color-green: #139273;
$color-footer: #353535;

//fonts
$font-Roboto: 'Roboto';
$font-Shrikhand: 'Shrikhand';
$font20: 20px;
$font22: 22px;
$font23: 23px;
$font24: 24px;
$font32: 32px;
$weight300: 300;
$weight500: 500;
$weight600: 600;
$weight900: 900;
$text-transform: capitalize;

//spacing for marging and padding
$left20px: 20px;
$paddingtopbottm: 50px 0;
$spacebottom: 20px;


