.header{
    i{
        font-size: $font28;
        color: $color-black;
        position: absolute;
        left: 25px;
    }
}
.slider{
    height: 100%;
    display: inherit;
    img{
        @include sliderimg;
        object-fit: cover;
    }
}
.cards__container{
    @include container-space;
    background-color: $color-lightgrey;
    padding: 50px 30px;
    border-radius: 60px 60px 0 0;
    margin-top: -60px;
    position: relative;
}
.menusin{
    margin-bottom: 30px;
    &__paddingspace{
       @include flexcentre;
       justify-content:space-between;
       position: relative;
    }
    &__paddingspace:hover button > i{
        @include heartbutton;
    }
    button{
        position: absolute;
        right: 35px;
    }
    i{
        @include fa-heart;
    }
}

.cardsmenu{
    .h3{
        @include underline;
        margin-bottom: 40px;
    }
    h4{
        margin: 0;
        font-size: $font17;
        text-transform: capitalize;
    }
    p{
        font-size: $font17;
        margin: 5px 0 0 0;
    }
    h4, p{
        padding: 0 10px;
        transition: margin 1s ease-in-out;
        margin-right: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span{
        display: flex;
        align-items: end;
        font-size: $font17;
        font-weight: $weight600;
    }
    &__entrees{
        margin-bottom: 30px;
    }
    &__inside{
        display: flex;
        position: relative;
        overflow: hidden;
        animation: fadeInUp 1s ease-in-out;
    }
    .slide-top{
        animation: fadeInUp 0.4s ease-in-out forwards;
        animation-delay: 0s;
    }
    .slide-top-2{
        animation: fadeInUp 0.4s ease-in-out forwards;
        animation-delay: 0.1s;
    }
    .slide-top-3{
        animation: fadeInUp 0.4s ease-in-out forwards;
        animation-delay: 0.2s;
    }
    .slide-top-4{
        animation: fadeInUp 0.4s ease-in-out forwards;
        animation-delay: 0.3s;
    }
    &__inside:hover &__slide {
        right: 0;
        border-radius: 0 20px 20px 0;
        @include shadowbottom;
    }
    &__inside:hover &__details{
        border-radius: 20px 0 0 20px;
        width: 80%;
        transition: all 0.7s ease-in-out;
    }
    &__inside:hover h4, &__inside:hover p{
        margin-right: 20px;
    } 
    &__inside:hover i{
        transform: rotate(360deg);
    }
    &__details{
        background: $color-white;
        padding: 20px 35px 20px 15px;
        border-radius: 20px;
        display: flex;
        margin-bottom: 30px;
        width: 100%;
        justify-content: space-between;
        @include shadowbottom;
        cursor: pointer;
    }
    section{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: margin ease-in-out;
        margin-right: 0;
    }
    &__slide {
        position: absolute;
        top: 0;
        right: -150px;
        width: 23%;
        background: $color-brand-01;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: right 0.7s ease-in-out;
        height: 85px;
        i{
            @include flexcentre;
            width: 100%;
            height: 100%;
            font-size: $font28;
            color: $color-white;
            transition: all 0.7s ease-in-out;
        }
    }
    &__slidebig {
        height: 103px;
    }
    &__orderbtn{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        a{
            text-transform: capitalize;
            font-size: $font20;
            @include buttonformat;
            padding: 20px 120px;
            margin-top: 30px;
        }
    }
}
