a{
    font-size: $font20;
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
h1, h2, h3{
    font-size: $font32;
}
.container-main{
    @include container-mb;
}
.header__location{
    background-color: $color-grey;
    position: relative;
    z-index: 1;
    padding: 7px 0;
    .container-main{
       form{
        @include flexcentre;
        align-items: center;
        i{
            font-size: $font20;
        }
        p{
            margin-left: $left20px;
            font-weight: $weight600;
            font-size: $font20;
        }
       }
    }
}

.bookmenu{
    background-color: $color-lightgrey;
    padding: $paddingtopbottm;
    &__inside{
        flex-direction: column;
        align-items: center;
        p{
            font-size: $font24;
            text-align: center;
            font-weight: $weight300;
            padding-bottom: $spacebottom;
            line-height: 1.3;
        }
        a{
            padding: 20px 30px;
            text-decoration: none;
            background: #ccc;
            border-radius: 50px;
            font-weight: $weight500;
            color: $color-white;
            margin-bottom: $spacebottom;
            @include shadowbottom;
            @include gradient;
        }
    }
}

.works{
    padding: $paddingtopbottm;
    &__inside{
        @include container-space;
        h2{
            font-size: $font32;
            padding-bottom: $spacebottom;
        }
        section{
            padding-left: 20px;
            a{
                position: relative;
                text-decoration: none;
                color: $color-black;
                display: flex;
                margin-bottom: 30px;
                padding: 40px;
                background: $color-lightgrey;
                border-radius: 30px;
                font-weight: $weight600;
                @include shadowbottom;
                &::before{
                    position: absolute;
                    content: "2";
                    width: 30px;
                    height: 30px;
                    background: $color-primary;
                    border-radius: 100%;
                    left: -15px;
                    @include flexcentre;
                    color: $color-white;
                }
                i{
                    color: $color-icon;
                    margin-right: 30px;
                    font-size: $font24;
                    width: 25px;
                    @include flexcentre;
                    &:hover{
                        color: $color-primary;
                    }
                    &:focus{
                        color: $color-primary;
                    }
                }
                span{
                    text-transform: $text-transform;
                    padding-right: 6px;
                }
                &:hover{
                    color: $color-primary;
                    @include smoothtrans;
                    @include darkshadow;
                }
            }
            &:nth-child(2){
                a{
                    &::before{
                        content: "1";
                    }
                }
            }
            &:last-child{
                a{
                    &::before{
                        content: "3";
                    }
                }
            }
        }

    }
}

.restaurantmain{
    background-color: $color-lightgrey;
    padding: $paddingtopbottm;
    a{
        color: $color-black;
        &:hover{
            color: $color-primary;
            @include smoothtrans;
        }
    }
    h3{
        text-transform: $text-transform;
    } 
    h4{
        font-size: $font23;
        text-transform: $text-transform;
        line-height: 1.4;
        margin: 20px 0;
        span{
            font-weight: $weight300;
        }
    }
    i{
        font-size: $font32;
    }
    img{
        object-fit: cover;
        width: 100%;
        height: 250px;
        border-radius: 25px 25px 0 0;
    }
    &__section {
        margin-bottom: 35px;
        @include darkshadow;
        border-radius: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__in{
        @include container-space;
    }
    &__img{
        position: relative;
        &::before{
            position: absolute;
            content: "new";
            width: 100px;
            height: 35px;
            background: $color-brand-01;
            color: $color-green;
            font-size: 20px;
            right: 20px;
            top: 20px;
            border-radius: 5px;
            font-weight: $weight600;
            text-transform: $text-transform;
            @include flexcentre;
        }
    }
    &__details{
        @include flexcentre;
        justify-content: space-between;
        padding: 0px 20px;
        background-color: $color-white;
        border-radius: 0 0 25px 25px;
    }
    &__imgnone{
        &::before{
            display: none;
        }
    }
}

