a{
    font-size: $font17;
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
h1{
    font-size: $font24 !important;
}
h2, h3{
    font-size: $font20 !important;
}
.h1{
    font-family: $font-Shrikhand;
    text-transform: capitalize;
    font-size: $font26;
    margin: 0;
    @include desktop-only{
        br{
            display: none;
        }
    }
}
.h3{
    text-transform: uppercase;
    font-size: $font22;
    font-weight: 100;
    position: relative;
}
.container-main{
    @include container-mb;
    @include mobile-landscape{
        max-width: 100%;
    }
}
.header__location{
    background-color: $color-grey;
    position: relative;
    z-index: 1;
    padding: 15px 0;
    @include tablet-only{
        background: transparent;
        width: 50%;
        padding: 30px 0;
    }
    .container-main{
       form{
        @include flexcentre;
        align-items: center;
        i{
            font-size: $font20;
        }
        input{
            background-color: $color-grey;
            font-weight: $weight600;
            font-size: $font20;
            outline: none ;
            border: none;
            text-align: center;
            width: 160px;
            @include mobile-landscape{
                background: transparent;
            }
        }
       }
    }
}

.bookmenu{
    background-color: $color-lightgrey;
    padding: $paddingtopbottm;
    @include tablet-only{
        width: 50%;
        display: inline-block;
        padding: 70px 0;
        background-color: $color-grey;
    }
    &__inside{
        flex-direction: column;
        align-items: center;
        p{
            font-size: $font20;
            text-align: center;
            font-weight: $weight300;
            padding-bottom: $spacebottom;
            line-height: 1.3;
            @include mobile-320{
                font-size: $font17;
            }
        }
        a{
            @include buttonformat;
            &:hover{
                background: linear-gradient(90deg, rgba(228,113,218,1) 36%, rgba(160,90,220,1) 100%);
                transition: 0.7s all ease-in;
                color: $color-black;
            }
        }
    }
}

.works{
    padding: $paddingtopbottm;
    @include tablet-only{
        width: 50%;
        display: inline-block;
        float: right;
        padding: 22px 0;
    }
    &__inside{
        @include container-space;
        h2{
            font-size: $font32;
            padding-bottom: $spacebottom;
        }
        section{
            padding-left: 20px;
            a{
                position: relative;
                font-size: $font15;
                text-decoration: none;
                color: $color-black;
                display: flex;
                margin-bottom: 30px;
                padding: 20px;
                background: $color-lightgrey;
                border-radius: 30px;
                font-weight: $weight600;
                align-items: center;
                @include shadowbottom;
                @include mobile-320{
                    font-size: $font12;
                }
                @include mobile-landscape{
                    font-size: $font14;
                }
                &:hover{
                    i{
                        color: $color-primary;
                    }
                }
                &:focus{
                    i{
                        color: $color-primary;
                    }
                    color: $color-primary;
                }
                &::before{
                    position: absolute;
                    content: "2";
                    width: 30px;
                    height: 30px;
                    background: $color-primary;
                    border-radius: 100%;
                    left: -15px;
                    @include flexcentre;
                    color: $color-white;
                }
                i{
                    color: $color-icon;
                    margin: 0 15px 0 15px;
                    font-size: $font20;
                    width: 15px;
                    @include flexcentre;
                }
                span{
                    text-transform: $text-transform;
                    padding-right: 6px;
                }
                &:hover{
                    color: $color-primary;
                    @include smoothtrans;
                    @include darkshadow;
                    background-color: $color-grey;
                }
            }
            &:nth-child(2){
                a{
                    &::before{
                        content: "1";
                    }
                }
            }
            &:last-child{
                a{
                    &::before{
                        content: "3";
                    }
                }
            }
        }

    }
}

.restaurantmain{
    background-color: $color-lightgrey;
    padding: $paddingtopbottm;
    @include mobile-landscape{
        padding: 30px 0;
    }
    a{
        color: $color-black;
        &:hover{
            color: $color-primary;
            @include smoothtrans;
        }
    }
    h3{
        text-transform: $text-transform;
    } 
    h4{
        font-size: $font18;
        text-transform: $text-transform;
        line-height: 1.4;
        margin: 20px 0;
        @include mobile-landscape{
            font-size: $font14;
        }
        span{
            font-weight: $weight300;
        }
    }
    i{
        @include fa-heart;
        @include mobile-landscape{
            font-size: $font20;
        }
    }
    img{
        object-fit: cover;
        width: 100%;
        height: 220px;
        border-radius: 25px 25px 0 0;
        @include mobile-landscape{
            height: 180px;
        }
    }
    &__section {
        margin-bottom: 35px;
        @include darkshadow;
        border-radius: 25px;
        &:last-child{
            margin-bottom: 0;
            @include mobile-landscape{
                margin-bottom: auto;
            }
        }
        @include mobile-landscape{
            width: 48%;
            margin-right: 4%;
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        @include desktop-only{
            width: 100%;
            margin-right: 2%;
            flex: 1;
            &:nth-child(2n){
                margin-right: 2%;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__in{
        @include container-space;
        @include mobile-landscape{
            max-width: 100%;
            padding: 0 50px;
        }
        @include desktop-only{
            max-width: 1440px;
        }
    }
    &__category{
        @include mobile-landscape{
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__img{
        position: relative;
        &::before{
            position: absolute;
            content: "new";
            width: 100px;
            height: 35px;
            background: $color-brand-01;
            color: $color-green;
            font-size: 20px;
            right: 20px;
            top: 20px;
            border-radius: 5px;
            font-weight: $weight600;
            text-transform: $text-transform;
            @include flexcentre;
        }
    }
    &__details{
        @include flexcentre;
        justify-content: space-between;
        padding: 0px 20px;
        background-color: $color-white;
        border-radius: 0 0 25px 25px;
        position: relative;
        @include mobile-landscape{
            padding: 0px 10px;
        }
        @include desktop-only{
            padding: 0px 20px;
        }
    }
    &__details:hover i{
       @include heartbutton;
    }
    &__imgnone{
        &::before{
            display: none;
        }
    }
}

