footer{
    padding: $paddingtopbottm;
    background-color: $color-footer;
    .container{
        @include container-space;
        @include mobile-landscape{
            max-width: 100%;
            padding: 0 50px;
            text-align: center;
        }
        @include desktop-only{
            max-width: 1440px;
        }
    }
    ul{
        @include mobile-landscape{
            display: flex;
            justify-content: space-around;
        }
    }
    img{
        width: 170px;
        height: 50px;
    }
    a{
        color: $color-white;
        font-size: $font17;
        line-height: 1.6;
    }
    i{
        width: 35px;
    }
}