 
header {
    padding: 30px 0 20px;
    position: relative;
    z-index: 2;
    @include shadowbottom;
    .header-logo {
        @include flexcentre;
        position: relative;
    }
    img {
        width: 175px;
        height: auto;
        min-width: 150px;
    }
}  